<!--
Copyright 2020 Google LLC.

This work is licensed under the Creative Commons Attribution 4.0
International License. To view a copy of this license, visit
http://creativecommons.org/licenses/by/4.0/ or send a letter
to Creative Commons, PO Box 1866, Mountain View, CA 94042, USA.
-->
<model>
  <name>JUICER_SET</name>
  <author>
    <name>Google</name>
    <email>scanned-objects@google.com</email>
  </author>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <description>JUICER SET
Have fresh fruit juice with friends with this Juicer Set! Includes juicer, cup, orange, lemon, and knife.</description>
</model>
